<h1>Blog Post</h1>
<form class="form-horizontal well" name="blogPostForm" novalidate="novalidate" autocomplete="off">
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-8"><input type="text" class="form-control" ng-model="blogPost.nmTitle" ng-required="true"/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Link</label>
    <div class="col-sm-8"><input type="text" class="form-control disabled" ng-model="blogPost.ulLink" disabled/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="blogPost.dhCreated">Date</label>
    <div class="col-sm-3">
      <span class="input-group">
        <input
          type="text"
          class="form-control"
          id="blogPost.dhCreated"
          data-ng-model="blogPost.dhCreated"
          data-ng-required="true"
          data-datepicker-popup="{{datepickerFormat}}"
          data-datepicker-mode="year"
          data-datepicker-options="dateOptions"
          data-is-open="opened"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </span>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <label class="control-label"><input type="checkbox" ng-model="blogPost.published"> Published</label>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Sub-title</label>
    <div class="col-sm-8"><input type="text" class="form-control" ng-model="blogPost.nmSubtitle"  ng-required="true"/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-8"><input type="text" class="form-control" ng-model="blogPost.nmDescription"  ng-required="true"/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Text</label>
    <div class="col-sm-8">
      <textarea id="txText" class="form-control" ng-model="blogPost.txText.value" rows="5"></textarea>
      <script type="text/javascript">
        $('#txText').wysihtml5({toolbar: {"image":false}});
      </script>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Images</label>
    <div class="col-sm-8">
      <div class="col-sm-2" ng-repeat="image in blogPost.storedImages">
        <img class="img img-responsive img-rounded" ng-src="{{serverUrl + '/storedImages/50/' + image.nmFile}}">
        <small>{{image.nmFile}}<br>{{image.iOriginalW}}x{{image.iOriginalH}}px</small>
        <br><button class="btn btn-sm pull-right" ng-click="deleteImage(image)"><span class="glyphicon glyphicon-trash"></span></button>
        <br class="clearfix">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-default" ng-click="imageChooserOpen();"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <!-- imagechooser modal -->
  <div class="modal fade" id="imageChooser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Choose Image</h4>
        </div>
        <div class="modal-body">
          <div class="row" ng-repeat="image in storedImages">
            <div class="col-sm-2"><img class="img img-responsive img-rounded" ng-src="{{serverUrl + '/storedImages/50/' + image.nmFile}}"></div>
            <div class="col-sm-8"><small>{{image.nmFile}} - {{image.iOriginalW}}x{{image.iOriginalH}}px</small></div>
            <div class="col-sm-2"><button class="btn btn-sm pull-right" ng-click="selectImage(image)"><span class="glyphicon glyphicon-plus"></span>&nbsp;Select</button></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 col-xs-6 text-left">
      <button class="btn btn-default" ng-click="backToBlogPosts()">
        <span class="glyphicon glyphicon-backward"></span>
        <span class="hidden-sm hidden-xs">Back to Blog Posts</span>
      </button>
    </div>
    <div class="col-sm-4 col-xs-6 text-right">
      <button class="btn btn-danger" ng-click="deleteBlogPost(blogPost)">
        <span class="glyphicon glyphicon-trash"></span>
        <span class="hidden-sm hidden-xs">Delete</span>
      </button>
      <button class="btn btn-success" data-ng-disabled="!blogPostForm.$valid" ng-click="saveBlogPost(blogPost)">
        <span class="glyphicon glyphicon-save"></span>
        <span class="hidden-sm hidden-xs">Save</span>
      </button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</form>
