<h1>Blog Post</h1>
<form class="form-horizontal well" name="blogPostForm" novalidate="novalidate" autocomplete="off">
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-8"><input type="text" class="form-control" ng-model="blogPost.nmTitle" ng-required="true"/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Link</label>
    <div class="col-sm-8"><input type="text" class="form-control disabled" ng-model="blogPost.ulLink" disabled/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="blogPost.dhCreated">Date</label>
    <div class="col-sm-3">
      <span class="input-group">
        <input
          type="text"
          class="form-control"
          datepicker-popup="{{datepickerFormat}}"
          datepicker-mode="year"
          id="blogPost.dhCreated"
          ng-model="blogPost.dhCreated"
          is-open="opened"
          ng-required="true"
          year-range="30"
          aw-datepicker-pattern="^(0[1-9]|1\d|2\d|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$"
          />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </span>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <label class="control-label"><input type="checkbox" ng-model="blogPost.published"> Published</label>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Sub-title</label>
    <div class="col-sm-8"><input type="text" class="form-control" ng-model="blogPost.nmSubtitle"  ng-required="true"/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-8"><input type="text" class="form-control" ng-model="blogPost.nmDescription"  ng-required="true"/></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Text</label>
    <div class="col-sm-8">
      <textarea id="txText" class="form-control" ng-model="blogPost.txText.value" rows="5"  ng-required="true"></textarea>
      <script type="text/javascript">
        $('#txText').wysihtml5();
      </script>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 col-xs-6 text-left">
      <button class="btn btn-default" ng-click="backToBlogPosts()">
        <span class="glyphicon glyphicon-backward"></span>
        <span class="hidden-sm hidden-xs">Back to Blog Posts</span>
      </button>
    </div>
    <div class="col-sm-4 col-xs-6 text-right">
      <button class="btn btn-danger" ng-click="deleteBlogPost(blogPost)">
        <span class="glyphicon glyphicon-trash"></span>
        <span class="hidden-sm hidden-xs">Delete</span>
      </button>
      <button class="btn btn-success" data-ng-disabled="!blogPostForm.$valid" ng-click="saveBlogPost(blogPost)">
        <span class="glyphicon glyphicon-save"></span>
        <span class="hidden-sm hidden-xs">Save</span>
      </button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</form>
