html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  bottom: 0;
  height: 30px;
  position: absolute;
  width: inherit;
}
input.ng-dirty.ng-valid { border:1px solid Green; }
input.ng-dirty.ng-invalid { border:1px solid Red; }
